
@{
    ViewData["Title"] = "InsertSanPham";
    Layout = "_Layout";
}

<h1>Kết quả</h1>
<br />
@{
    if (ViewBag.result == 1)
    {
        <div class="alert alert-success" role="alert">
            Thêm sản phẩm thành công
        </div>
    }
    else
    {
        <div class="alert alert-danger" role="alert">
            Thêm sản phẩm không thành công
        </div>
    }
}

