
@{
    ViewData["Title"] = "UpdateHoaDon";
    Layout = "_Layout";
}

<h1>UpdateHoaDon</h1>
<h1>Kết quả</h1>
<br />
@{
    if (ViewBag.flat > 0)
    {
        <div class="alert alert-success" role="alert">
            Cập nhật hóa đơn thành công !
        </div>
    }
    else
    {
        <div class="alert alert-danger" role="alert">
            Đã xảy ra lỗi !
        </div>
    }
}