
@{
    ViewData["Title"] = "UpdateTonKHo";
    Layout = "_Layout";
}

<h1>Kết quả</h1>
<br />
@{
    if (ViewBag.flat > 0)
    {
        <div class="alert alert-success" role="alert">
            Cập nhật số lượng hàng tồn kho thành công
        </div>
    }
    else
    {
        <div class="alert alert-danger" role="alert">
            Đã xảy ra lỗi !
        </div>
    }
}

