@{
        ViewData["Title"] = "Thông tin sản phẩm";

    }
    <head>
        <link rel="stylesheet" href="~/css/Product.css" />
    </head>
    <div class="main">
        <div class="namephone">
            <h1 id="name">
                Tai nghe iphone 5
            </h1>
        </div>
        <hr>
        <div class="rowdetail">
            <div class="img-phone">
                <img class="img" src="/image/tai-nghe-iphone-5.jpg">
                <div class="quantity">
                    <label> Số lượng:</label>
                    <input type="number" id="quantity" name="quantity" min="1" max="10" value="1">
                </div>
            </div>
            <div class="price">
                <div class="cost">
                    <h1 style="color:brown" class="cost-1" id="gia">150.000đ </h1>
                    <div class="pg">
                        <div class="cs">
                            <a class="cost-2"> 120.000đ</a>
                        </div>
                        <div class="giamgia">
                            <b>Giảm giá 8%</b>
                        </div>
                    </div>
                </div>
                <div class="description">
                    <p><b>Mô tả sản phẩm</b></p>
                    <p>
                        Tai nghe Iphone 5/5s/5c là phiên bản tốt nhất trên thị trường tai nghe Earpods hiện nay.
                        Tai nghe được thiết kế khá ấn tượng, chất lượng âm thanh tốt, Jack cắm chuẩn 3.5 mm bạn có thể sử dụng loại tai nghe này cho các dòng máy HTC, Sony, Samsung, LG, Nokia...
                        Nghe hay hơn rất nhiều so với tai nghe zin của những hãng này
                    </p>
                </div>
                <div class="button">
                    <a id="buy" href="">Mua ngay</a>
                    <a id="add" href="">Thêm vào giỏ hàng</a>
                </div>
            </div>
            <div class="table">
                <h4> Chi tiết sản phẩm</h4>
                <table>
                    <tr>
                        <td>Màu sắc:</td>
                        <td>Trắng</td>
                    </tr>
                    <tr>
                        <td>
                            Tương thích:
                        </td>
                        <td>
                            Windows
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Jack cắm:
                        </td>
                        <td>
                            USB
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Công nghệ âm thanh:
                        </td>
                        <td>
                            Âm thanh vòm 7.1
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Kết nối cùng lúc:
                        </td>
                        <td>
                            1 thiết bị
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Tương thích
                        </td>
                        <td>
                            Mic thoạiTăng/giảm âm lượng
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Độ dài dây:
                        </td>
                        <td>
                            2 m
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Trọng lượng:
                        </td>
                        <td>
                            520g (kèm hộp)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Thương hiệu của:
                        </td>
                        <td>
                            Trung Quốc
                        </td>
                    </tr>
                </table>
            </div>
        </div>

    </div>