

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<head>
    <link rel="stylesheet" href="~/css/List.css" />
    <link rel="stylesheet" href="~/css/product_list.css" />
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
</head>
<div class="main">
    <div class=" qc">
        <img src="/image/anhnen.jpg" width="100%" ; height="100%">
    </div>
    <div class="dropdown">
        <h3 style="width:500px;margin-top:20px">Danh sách sản phẩm</h3>

    </div>
    <br>
    <div class="list">
        <div class="row">
            @foreach (var product in ViewBag.products)
            {

                <div class="col-md-3 product-grid">
                    <div class="image">
                        <a asp-controller="ProductDetail" asp-action="Index" asp-route-MaSP="@product.MaSP">
                            <img src="~/image/@product.IMG" class="w-100">
                            <div class="overlay">
                                <div class="detail">View Details</div>
                            </div>
                        </a>
                    </div>
                    <h5 class="text-center">@product.TenSP</h5>
                    <h5 class="text-center">Giá: @{string a = String.Format(System.Globalization.CultureInfo.InvariantCulture, "{0:0,0}", product.Gia);} @a</h5>
                    <a class="btn buy" asp-controller="Cart" asp-action="Buy" asp-route-MaSP="@product.MaSP">Mua Ngay</a>
                </div>




            }




        </div>
    </div>
    <br />



</div>




