@{
    ViewData["Title"] = "Danh sách sản phẩm";
}
    <head>
        <link rel="stylesheet" href="~/css/List.css" />
    </head>
<div class="main">
    <div class=" qc">
        <img src="/image/qc.jpg">
    </div>
    <div class="dropdown">
        <button class="dropbtn">Loại phụ kiện<i class="fas fa-chevron-down"></i></button>
        <div class="dropdown-content">
            <a href="#">Tai nghe</a>
            <a href="#">Cáp sạc</a>
            <a href="#">Bao da, ốp</a>
        </div>
    </div>
    <br>
    <div class="list">
        <div class="row">
            <div class="product">
                <div class="img"><a id="1" href="/pruduct/Index.cshtml"><img src="/image/tai-nghe-iphone-5.jpg"></a></div>
                <a href="detail.html"><label><b>Tai nghe iphone 5</b></label></a>
                <p style="color: red;"><b> 150.000đ </b> </p>
                <div class="button">
                    <a href="">Mua ngay</a>
                    <a href="">Xem chi tiết</a>
                </div>
            </div>
            <div class="product">
                <div class="img"><a id="1" href="/pruduct/Index.cshtml"><img src="/image/tai-nghe-iphone-5.jpg"></a></div>
                <a href="detail.html"><label><b>Tai nghe iphone 5</b></label></a>
                <p style="color: red;"><b> 150.000đ </b> </p>
                <div class="button">
                    <a href="">Mua ngay</a>
                    <a href="">Xem chi tiết</a>
                </div>
            </div>
            <div class="product">
                <div class="img"><a id="1" href="/pruduct/Index.cshtml"><img src="/image/tai-nghe-iphone-5.jpg"></a></div>
                <a href="detail.html"><label><b>Tai nghe iphone 5</b></label></a>
                <p style="color: red;"><b> 150.000đ </b> </p>
                <div class="button">
                    <a href="">Mua ngay</a>
                    <a href="">Xem chi tiết</a>
                </div>
            </div>

        </div>
        <br />
    </div>
</div>