

.container .content_1 {
    height: 400px;
    width: 100%;
}



    .container .content_1 .column_1_1 {
        height: 100%;
        width: 100%;
        float: left;
    }



        .container .content_1 .column_1_1 #myCarousel {
            height: 100%;
            width: 100%;
        }



            .container .content_1 .column_1_1 #myCarousel .carousel-inner {
                height: 100%;
                width: 100%;
            }



                .container .content_1 .column_1_1 #myCarousel .carousel-inner .item {
                    height: 100%;
                    width: 100%;
                    position: relative;
                }



                .container .content_1 .column_1_1 #myCarousel .carousel-inner .carousel-caption {
                    position: absolute;
                    z-index: 10;
                    bottom: 20px;
                }
/*
content 2 
    */



.container .content_2 {
    width: 100%;
    height: 400px;
    padding-top: 20px;
}



    .container .content_2 .column_2_1 {
        width: 50%;
        height: 100%;
        float: left;
    }



        .container .content_2 .column_2_1 img {
            width: 90%;
            height: 90%;
            border-radius: 25px;
            justify-content: center;
            text-align: center;
        }

            .container .content_2 .column_2_1 img:hover {
                -webkit-transform: scale(1.1);
            }



    .container .content_2 .column_2_2 {
        width: 50%;
        height: 100%;
        float: right;
    }



        .container .content_2 .column_2_2 a {
            text-decoration: none;
            display: block;
        }



        .container .content_2 .column_2_2 button-buy {
            display: block;
            background-color: aqua;
            width: 20%;
            border-radius: 20px;
        }



        .container .content_2 .column_2_2 button:hover {
            background: red;
        }
/* content 2a */



.container .content_2a {
    width: 100%;
    height: 400px;
    padding-top: 20px;
}



    .container .content_2a .column_2_2a {
        width: 50%;
        height: 100%;
        float: left;
    }



    .container .content_2a .column_2_2a {
        text-decoration: none;
    }



        .container .content_2a .column_2_2a button {
            cursor: pointer;
            text-align: center;
            white-space: nowrap;
            border-radius: 18px;
            background: #0071e3;
            color: #fff;
            min-width: 28px;
            font-size: 18px;
            font-weight: 400;
            letter-spacing: -.022em;
            padding-right: 16px;
            padding-left: 16px;
        }



            .container .content_2a .column_2_2a button:hover {
                background: red;
            }



    .container .content_2a .column_2_1a {
        width: 50%;
        height: 100%;
        float: right;
    }



        .container .content_2a .column_2_1a img {
            width: 90%;
            height: 90%;
            border-radius: 25px;
            justify-content: center;
            text-align: center;
        }

            .container .content_2a .column_2_1a img:hover {
                -webkit-transform: scale(1.1);
            }
/* kich thuoc content 3*/
.container .content_3 {
    width: 100%;
    height: 700px;
    padding-top: 20px;
}



    .container .content_3 .column_3_1 {
        width: 30%;
        height: 100%;
        float: left;
    }



        .container .content_3 .column_3_1 .row_3_1_1 {
            width: 100%;
            height: 50%;
            display: inline-block;
            box-sizing: border-box;
        }



        .container .content_3 .column_3_1 .row_3_1_2 {
            width: 100%;
            height: 50%;
        }



    .container .content_3 .column_3_2 {
        width: 40%;
        height: 100%;
        float: left;
    }



    .container .content_3 .column_3_3 {
        width: 30%;
        height: 100%;
        float: right
    }



        .container .content_3 .column_3_3 .row_3_3_1 {
            width: 100%;
            height: 50%;
        }



.js-product-title {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
}



    .js-product-title .product-title {
        position: relative;
        background: #f7f7f7;
        box-sizing: border-box;
        border-radius: 18px;
        color: #000;
        height: 80%;
        width: 90%;
        opacity: 0.8;
        display: inline-block;
    }



        .js-product-title .product-title .img-product {
            position: relative;
            z-index: 0;
            overflow: hidden;
            width: 100%;
            height: 70%;
            border-radius: 18px;
        }



        .js-product-title .product-title product-content {
            width: 100%;
            height: 30%;
        }



        .js-product-title .product-title .btn-buynow {
            display: none;
        }



    .js-product-title:hover .product-title .btn-buynow {
        display: block;
    }



    .js-product-title:hover .product-title {
        opacity: 2.0;
        border: ridge;
        box-shadow: 1px 1px 1px grey;
    }



    .js-product-title:hover .btn-buynow button {
        cursor: pointer;
        text-align: center;
        white-space: nowrap;
        border-radius: 18px;
        background: white;
        color: black;
        min-width: 28px;
        font-size: 18px;
        font-weight: 400;
        letter-spacing: -.022em;
        padding-right: 16px;
        padding-left: 16px;
    }
/* ảnh column 2*/
.js-product-title-1 {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
}



    .js-product-title-1 .product-title-1 {
        position: relative;
        background: #f7f7f7;
        box-sizing: border-box;
        border-radius: 18px;
        color: #000;
        height: 80%;
        width: 80%;
        display: inline-block;
    }



        .js-product-title-1 .product-title-1 .img-product-1 {
            position: relative;
            z-index: 0;
            overflow: hidden;
            width: 100%;
            height: 80%;
        }



        .js-product-title-1 .product-title-1 product-content-1 {
            width: 100%;
            height: 20%;
        }



        .js-product-title-1 .product-title-1 .btn-buynow-1 {
            display: none;
        }



    .js-product-title-1:hover .product-title-1 .btn-buynow-1 {
        display: block;
    }



    .js-product-title-1:hover .btn-buynow-1 button {
        cursor: pointer;
        text-align: center;
        white-space: nowrap;
        border-radius: 18px;
        background: white;
        color: black;
        min-width: 28px;
        font-size: 18px;
        font-weight: 400;
        letter-spacing: -.022em;
        padding-right: 16px;
        padding-left: 16px;
    }



    .js-product-title-1 .product-title-1:hover .img-column-2 {
        transform: scale(1.1);
    }
/* column 3*/
.container .content_3 .column_3_3 .row_3_3_2 {
    width: 100%;
    height: 50%;
}
