
@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<!-- MAIN CONTENT-->
<h1>Biểu đồ thống kê</h1>
<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="row">

                <div class="col-lg-6">
                    <div class="au-card m-b-30">
                        <div class="au-card-inner">
                            <h3 class="title-2 m-b-40">Doanh thu tháng này</h3>
                            <canvas id="team-chart"></canvas>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="au-card m-b-30">
                        <div class="au-card-inner">
                            <h3 class="title-2 m-b-40">Doanh thu theo tháng</h3>
                            <canvas id="barChart"></canvas>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="au-card m-b-30">
                        <div class="au-card-inner">
                            <h3 class="title-2 m-b-40">Doanh thu theo quý</h3>
                            <canvas id="myChart"></canvas>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="au-card m-b-30">
                        <div class="au-card-inner">
                            <h3 class="title-2 m-b-40">Top 5 sản phẩm bán chạy nhất</h3>
                            <canvas id="Top5Products"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


}


<!-- END MAIN CONTENT-->
